#title {
    color: red;
    font-size: 30px;
  }
  body {
    background-color: black;
  color: white;

  }
  
  
  
  #image {
    max-width: 100%; 
    height: auto;
  position: center;
  display: block;
  }
  
  